<%- include('partials/header.ejs') %>
  
 
  <div class="d-flex align-items-center justify-content-center" style="height: 580px">
    <img src="https://pics.me.me/yeah-im-a-cinephile-starterpack-you-tube-letterboxd-every-frame-2935383.png" class="rounded" style="width:37%">
  </div>
  <div class="container-fluid text-center fixed-bottom bg-dark text-white p-1">
      <p>TEAM 3</p>
  </div>




  
<%- include('partials/footer.ejs') %>
   